     
.service-section .img-card{
    flex: 0 0 33.33%;
    width: 33.33%;
    display:flex;
    border-radius: .5rem;
  }
 
  .service-section .img-card-inner .project-show-btn{
    text-align: center;
    transform: translateY(-140px);
    opacity: 0;
    visibility: hidden;
    transition: all .5s ease-in-out;
  }
  .service-section .img-card-inner .project-show-btn a{
    font-size: 15px;
    font-weight: 600;
    color: #000;
    border: 1px solid #000;
    border-radius: 30px;
    padding: 5px 15px;
  }
  .service-section .img-card-inner:hover .project-show-btn{
    opacity: 1;
    visibility: visible;
  }
  .service-section .img-card-inner:hover img{
    opacity: .4;
  }
  @media(max-width:451px){
    .service-section .img-card {
      flex: 0 0 50%;
      width: 50%;
    }
  }
  @media(max-width:425px){
    .service-section .img-card {
      flex: 0 0 100%;
      width: 100%;
    }
  }
  .service-section .img-card-inner{
    border-radius: .5rem;
    padding: 1rem;
  }
  .service-section .img-card-inner img{
    padding: .5rem;
    border-radius: .5rem;
  }
  .service-section .img-card-inner .img-resize{
    height: 25rem;
    width: 32rem;
    object-fit: unset;
    object-position: center center;
  }
